/* Reset */

/*
* {
  margin: 0;
  padding: 0;
}
*/

body {
  margin: 8vh 10vw 10vh 10vw;
}

/* Remove blue borders on hover */

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}
